<header>
    <div id="header-content">
        <h1><a href="/" id="logo">Lyric Loop</a></h1>

        <nav>
            <ul>
                <li><a href="/" class="nav-item">🌟 Featured</a></li>
                <li><a href="/charts" class="nav-item">📊 Charts</a></li>
                <li><a href="/search" class="nav-item">🔍 Search</a></li>
            </ul>
        </nav>

        <div class="logout">
            <a href="/login" class="logout-button">👋 Log out</a>
        </div>
    </div>

    <hr>
</header>
