body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(35, 35, 35, 1);
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 125%;
    align-items: center;
}

.title {
    font-size: 150%;
    margin-bottom: 2%;
    color: #ffffff;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 80%;
    max-width: 100%;
    padding: 1.5%;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
}

.search-button {
    padding: 1.5% 2.5%;
    margin-left: 1%;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
